version: "3.9"

volumes:
  letsgovolume:
    name: letsgo-volume

networks:
  default:
    external:
      name: lsio

services:
  redis:
    image: redis:alpine
    container_name: redis_letsgo
    restart: on-failure
    env_file:
        - .env
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
  pg:
    image: postgres:latest
    container_name: pg_letsgo
    restart: on-failure
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - letsgovolume:/var/lib/postgresql/data
      - ./scripts/db:/docker-entrypoint-initdb.d/
  letsgo_app:
    container_name: letsgo_app
    build:
      context: .
      dockerfile: Dockerfile
      args:
        API_PORT: ${API_PORT}
    env_file:
      - .env
    depends_on:
      - pg
    volumes:
      - ./:/app
      - ${LE_SSL}:/app/le-ssl
    ports:
      - "${API_PORT}:${API_PORT}"
    env_file:
      - .env
    entrypoint: ["/bin/bash", "./scripts/entrypoint.sh"]
