/* ########################################### */
/*                 Global                      */
/* ########################################### */
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html{
    /* font-family: 'Titillium Web', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    color:#222;
}

a{
    color:#4b3832;
    font-weight: bolder;
    text-decoration: none;
}

a:hover{
    color: #854442;
    text-decoration: underline;
}

h1{
    font-size:16px;
    font-weight: bolder;
}

body {
    background-color: #fff4e6;
}

.login {
    max-width: 600px;
}

i{
    color: #854442;
}

.btn-primary {
    background-color: #854442;
    border-color: #854442;
    padding-bottom: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4), -5px 5px 10px rgba(0, 0, 0, 0.4) !important;
}
.btn-primary:hover {
    background-color: #4b3832;
    border-color: #fff4e6;
}

.nav-dark {
    background-color: #4b3832;
}


/* ########################################### */
/*           Forums.html                       */
/* ########################################### */


.category{
    margin-top:20px;
    background-color:#854442;
    border: 4px solid #fff4e6;
    padding-bottom: 2rem;
    box-shadow: -2rem 1rem 2rem rgba(75,56,50,.4), 2rem 1rem 2rem rgba(75,56,50,.4) !important;
}

.category-title{
    padding: 5px;
    border-radius: 5px;
    margin:4px;
    color: #854442;
    background-color:#fff;
    border: 5px solid #fff4e6;
}

.forum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
    background-color:#fff;
    border-bottom: 5px solid #fff4e6;
    margin-top: 1rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4) !important;
}

.solo-forum {
    background-color: #854442;
    border: 4px solid #4b3832;
    box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.4), 2px 5px 10px rgba(0, 0, 0, 0.4) !important;
}

.forum-head{
    display: block;
    background-color:#fff;
    border-bottom: 5px solid #4b3832;
    margin-top: 1rem;
    padding: 1rem;
    min-height: 200px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4) !important;
}

.forum-title{
    padding: 5px;
    border-radius: 5px;
    margin:4px;
    color: #854442;
    background-color:#fff;
    border-bottom: 5px solid #fff4e6;
}

.thread-rows{
    display: grid;
    /* grid-template-columns: 7% 60% 13% 20%; */
    background-color:#fff;
    border-left: 10px dashed #4b3832;
    border-right: 10px dashed #4b3832;
    border-top: 2px solid #fff4e6;
    border-bottom: 2px solid #fff4e6;
    margin-top: 1rem;
}

.thread-row{
    display: grid;
    color: #fff4e6;
    grid-template-columns: 15% 85%;
    background-color: #854442;
    border-bottom: 2px solid #fff4e6;
}

.thread-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    border-left: 2px solid rgb(0,0,0,0.5);
    border-right: 2px solid rgb(0,0,0,0.5);
}

.forum-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
}

.forum-description *{
    box-sizing: border-box;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.forum-icon i{
    font-size: 45px;
}

/*   Header Section    */

header{
    margin-inline: 10px;
}
  /* Nav Bar styles */
.navbar{
    display:flex;
    align-items: center;
}

.nav-item a{
    float: right;
    display:block;
    /* text-align: center; */
    font-size: 20px;
    color:#222;
}

.nav-item a:hover{
    background-color: rgb(0,0,0,0.1);
}


/* @font-face {
    font-family:aquire;
    src:url(aquire.otf);
}

.brand{
    font-size:60px;
    display: inline-block;
    font-family:aquire;
} */

/* forum info Styling */
.forum-info{
    padding: 20px;
}

/* Footer Styling */

footer{
    margin-top: 20px;
    padding: 20px;
    background-color:  #52057b;
    display: block;
    text-align: center;
}

/* ########################################### */
/*            posts.html                       */
/* ########################################### */

/* posts table's head  */
.table-head{
    display: flex;
}

.table-head div{
    padding: 5px;
    margin: 2px;
    background-color: #29617c;
    font-weight: bold;
}

.table-head .status{
    flex: 5%;
}

.table-head .subjects{
    flex: 70%;
}

.table-head .replies{
    flex: 10%;
}

.table-head .last-reply{
    flex: 15%;
}

/* posts table's body  */

.table-row{
    display: flex;
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
    padding: 5px;
    margin: 2px;
    background-color: #29617c;
}

.table-row .status{
    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects{
    flex: 70%;
}

.table-row .replies{
    flex: 10%;
}

.table-row .last-reply{
    flex: 15%;
}




/* body {
    box-sizing: border-box;
    color: #222;
}

.login {
    max-width: 600px;
}

.forums {
    box-sizing: border-box;
}

.forum {
    box-sizing: border-box;
}

.thread {
    padding: 1rem;
    display: flex;
    color: #222;
}

.badge {
    color: darkgreen;
}

.op {
    align-self: flex-start;
    padding: 2px;
    padding-right: 5px;
    margin-right: 1rem;
    border-right: solid 3px red;
}

.noevents {
    margin: auto;
    text-align: center;
} */