<!DOCTYPE html><html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Letsgo</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark nav-dark mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/static/img/default.svg" height="50" alt="Let's GO"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link " href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/forums">Groups</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Help</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Donate</a></li>
                    <li><a class="dropdown-item" href="#">About</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/privacy">Privacy Policy</a></li>
                    <li><a class="dropdown-item" href="/terms">Terms of Use</a></li>
                    <li><a class="dropdown-item" href="#">Disclaimer</a></li>
                </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
            <div class="text-end ms-2 gx-2">
            {{if ne .user "<nil>"}}
                <a href="/account" type="button" class="btn btn-outline-light">Account {{.user}}</a>&nbsp;
                <a href="/signout" type="button" class="btn btn-outline-light">Sign-out</a>
            {{else}}
                <a href="/login" type="button" class="btn btn-outline-light">Login</a>&nbsp;
                <a href="/register" type="button" class="btn btn-outline-light">Sign-up</a>
            {{end}}
            </div>
            </div>
        </div>
    </nav>
    <div class="container-md">