{{template "head.html" . }}

    <h1>{{ .thread.Title }}</h1> 
    {{range .flashes}}
    <div class="alert alert-info">{{.}}</div>
    {{end}}
    <div class="container-md border border-5 rounded ">
        <div class="container-sm thread my-2 border-bottom border-2">
            <div class="op">Op: {{ .thread.User.DisplayName}}<br/>
                {{ if eq .thread.User.Email .user}}
                <div>
                    <a href="/update_thread/{{.thread.ID}}">Edit Event</a> | <a href="/del_thread/{{.thread.ID}}">Delete Event</a>
                </div>
                {{end}}
                <div>
                    <sub class="small">Event Date:<br/>{{ .date }}</sub>
                </div>
            </div>
            <div class="badge">Event Description</div>
            <div class="ms-5">{{.thread.Body}}</div>
        </div>
        <div>
            <a href="/new_post/{{.thread.ID}}">New Post</a>
        </div>
        <div class="container-sm">
            {{range .posts}}
                <div>{{.Body}}</div>
            {{end}}
        </div>
    </div>

{{template "foot.html" .}}