{{template "head.html" . }}
    <div class=" mx-auto">
        <h1>Edit</h1>
        <div class="col">
            <form method="POST" action="/update_forum/{{.id}}">
            {{range .flashes}}<div class="alert alert-info">{{.}}</div>{{end}}
            <div class="mb-3">
                <label for="name" class="form-label">Group Name</label>
                <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" value="{{.forum.Name}}" required>
                <label for="description" class="form-label">Group Description</label>
                <textarea class="form-control" id="description" name="description" aria-describedby="descriptionHelp" required>{{.forum.Description}}</textarea>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="open" name="open" {{if .forum.Open}}checked{{end}}>
                    <label class="form-check-label" for="open">Membership Open to All Users: {{.forum.Open}}</label>
                </div>
                <input type="hidden" id="csrf" name="csrf" value="{{.csrf}}">
            </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
{{template "foot.html" . }}