{{template "head.html" . }}

    <div class=" mx-auto">
        <h1>Edit</h1>
        <div class="col">
            <form method="POST" action="/update_forum/{{.id}}">
            {{range .flashes}}
            <div class="alert alert-info">{{.}}</div>
            {{end}}
                <div class="mb-3">
                    <label for="name" class="form-label">Group Name</label>
                    <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" value="{{.forum.Name}}">
                    <input type="hidden" id="csrf" name="csrf" value="{{.csrf}}">
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>

{{template "foot.html" . }}